*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1E293B;
    font-family:'Inter',sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Poppins',sans-serif ;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0F172A;
}
.navbar h1 a{
    color: whitesmoke;
    margin-right: 60px;
    text-decoration: none;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}
.navbar ul a {
    color: white;
    text-decoration: none;   
}
.navbar ul a:hover {
    cursor: pointer;
}
.navbar h2 a:hover {
    cursor: cell;
}

/* Main content */
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
    /* margin:70px 0 0 50px; */
}
.container h1{
    color:whitesmoke;
}
#date{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    color: whitesmoke;
}
input{
    border-radius: 20px;
    border: none;
    padding: 5px;
    text-align: center;
    margin: 60px auto -40px auto;
    display: block;
}
.addHabitBtn{
    border: dotted;
    border-radius: 20px;
    width: 40%;
    margin: 60px auto;
    text-align: center;
    padding: 15px;
    color: #F97316;
}
button{
    background-color: transparent;  
    border: none;
    font-size: 18px;
    color: whitesmoke;
}
button:hover{
    cursor: pointer;
}
.addHabitBtn:hover{
    border-color: #f97416a4;
    cursor: pointer;
}
.habit-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 19px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: whitesmoke;
  padding: 15px;
  width: 40%;
  margin: 20px auto;
  border:1px solid #F97316;
  border-radius: 18px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.habit-card input[type="checkbox"]{
    margin: 0;
    display: inline-block;
}

footer{
    background-color: #0F172A;
    text-align: center;
    padding: 15px;
    /* margin-top: 30px; */
    color: whitesmoke;
    width: 100%;
}







/* responsive */
@media  screen and (max-width:375px) {
    .navbar h1 a{
        font-size: 18px;
        display: flex;
        justify-content:left;
    }
    .navbar ul a{
        font-size: 13px;
    }
    #greeting{
        font-size: 23px;
    }
    #date{
        font-size: 13px;
    }
    .addHabit{
        width: 50%;
    }
    footer{
        font-size: 13px;
    }
}