*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1E293B;
    font-family:'Inter',sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1,h2,h3,h4{
    font-family: 'Poppins',sans-serif ;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0F172A;
    border-bottom: #F97316 2px solid;
}
.navbar h1 a{
    color: whitesmoke;
    margin-right: 60px;
    text-decoration: none;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}
.navbar ul a {
    color: white;
    text-decoration: none;   
}
.navbar ul a:hover {
    cursor: pointer;
    color:  #F97316;
    transition: 2.1s;
}
.navbar h1 a:hover {
    cursor:pointer;
    color:  #F97316;
    transition: 2.1s;
}

/* hOME STYLES */
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
    /* margin:70px 0 0 50px; */
}
.container h1{
    color:whitesmoke;
}
#date{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    color: whitesmoke;
}
input{
    border-radius: 20px;
    border: none;
    padding: 5px;
    text-align: center;
    margin: 60px auto -40px auto;
    display: block;
}

.addHabitBtn{
    border: dotted;
    border-radius: 20px;
    width: 25%;
    margin: 60px auto;
    text-align: center;
    padding: 15px;
    color: #F97316;
}
.addHabitBtn:hover{
    /* border-color: #f97416a4; */
    cursor: pointer;
    transform: scale(1.03);
}
button{
    background-color: transparent;  
    border: none;
    font-size: 18px;
    color: whitesmoke;
}
button:hover{
    cursor: pointer;
}
.quoteContainer{
    text-align: center;
    color: whitesmoke;
    margin-bottom: 30px;
    background-color:#151c2921;
    width: 30%;
    margin: auto;
    border: 1px;
    border-radius: 8px;
    padding: 10px;
}
.quoteContainer h5{
    font-size: 16px;
}
.quoteContainer h6{
    margin-top: 10px;
    font-family:'Courier New', Courier, monospace;
}
.habitCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 19px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: whitesmoke;
  padding: 15px;
  /* width: 25%; */
  margin: 20px auto;
  border:2px solid #F97316;
  border-radius: 18px;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}
.habitCard input[type="checkbox"]{
    margin: 0;
    display: inline-block;
}
.habitCard button {
  margin-left: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.habitCard button:hover {
  transform: scale(1.1);
}
section h2{
    color: whitesmoke;
    text-align: center;
    margin-top: 190px;
    margin-bottom: 30px;
    font-size: 30px;
}
.habitsContainer{
    height: 110vh;
    margin-bottom: 40px;
}
#history{
    background-color: #151c2969;
    height: 350px;
    color: whitesmoke;
    padding: 30px;
    width: 40%;
    margin: auto;
    border-radius: 15px;
}
.habitCardTwo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 19px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: whitesmoke;
  padding: 15px;
  width: 45%;
  color: black;
  margin: 20px auto;
  border:2px solid #F97316;
  border-radius: 18px;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}
footer{
    background-color: #0F172A;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    color: whitesmoke;
    border-top: #F97316 2px solid;
}


/* About styling */
.desc{
    font-size: 20px;
    color: whitesmoke;
    margin: 0 auto;
    margin-top: 50px;
}
.desc h5{
    text-align: center;
    font-weight: 100;
}
.improve{
    text-align: center;
    color:whitesmoke;
    margin-top: 40px;
}
.flexContainer{
    font-family:'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 1fr;
    margin: 70px 50px 30px 50px;
    color: whitesmoke;
    text-align: center;
    gap: 20px;
    justify-content: center;
    align-items: start;
}
.flexContainer h3{
    color: #F97316;
}
.improve1{
    background-color: #151c2969;
    border-radius: 12px;
    padding: 12px;
    /* height: 315px; */
}
.improve2{
    background-color: #151c2969;
    border-radius: 12px;
    padding: 12px;

}
.improve3{
    background-color: #151c2969;
    border-radius: 12px;
    padding: 12px;
}
img{
    width: 300px;
    height: 170px;
    border-radius: 12px;
}

/* RESPONSIVE */
@media  screen and (max-width:375px) {
    .navbar h1 a{
        font-size: 18px;
        display: flex;
        justify-content:left;
    }
    .navbar ul a{
        font-size: 13px;
    }
    #greeting{
        font-size: 20px;
    }
    #date{
        font-size: 11px;
        margin-top: 5px;
    }
    input{
        width: 40%;
    }
    .addHabitBtn{
        width: 60%;
        padding:4px;
    }
    .habitCard{
        width: fit-content;
        padding: 5px;
        font-size: 15px;
    }
    .habitCard button{
        font-size: 14px;
    }
    #history{
        height: fit-content;
        width: 65%;
    }
    button{
        font-size: 15px;
    }
    .quoteContainer{
        font-size: 16px;
    }
    .desc{
    font-size: 12px;
    color: whitesmoke;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    }
.desc h5{
    text-align: center;
    font-weight: 100;
    margin-top: 16px;
}
.improve h3{
    text-align: center;
    color:whitesmoke;
    font-size: 14px;
}
.flexContainer{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 70px 50px 30px 50px;
    color: whitesmoke;
    text-align: center;
    gap: 20px;
    justify-content: center;
    align-items: start;
}
.flexContainer p{
    font-size: 14px;
}
.flexContainer h3{
    color: #F97316;
}
.improve1{
    background-color: #151c2969;
    border-radius: 12px;
    padding: 12px;
    height: fit-content;
}
.improve2{
    background-color: #151c2969;
    border-radius: 12px;
    padding: 12px;

}
.improve3{
    background-color: #151c2969;
    border-radius: 12px;
    padding: 12px;

}
img{
    width: 200px;
    height: 140px;
    border-radius: 12px;
}
    footer{
        font-size: 13px;
    }
}
@media  screen and (min-width:425px) {
    .navbar h1 a{
        font-size: 21px;
        display: flex;
        justify-content:left;
    }
    .navbar ul a{
        font-size: 16px;
    }
    #greeting{
        font-size: 23px;
    }
    #date{
        font-size: 13px;
        margin-top: 5px;
    }
    input{
        width: 40%;
    }
    .addHabitBtn{
        width: 60%;
        padding:7px;
    }
    .habitCard{
        width: fit-content;
        padding: 5px;
        font-size: 18px;
    }
    .habitCard button{
        font-size: 16px;
    }
    button{
        font-size: 15px;
    }
    .quoteContainer{
        font-size: 18px;
    }
    #history{
        height: fit-content;
        width: 65%;
    }
    .desc{
    font-size: 13px;
    color: whitesmoke;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    }
.desc h5{
    text-align: center;
    font-weight: 100;
    margin-top: 16px;
}
.improve h3{
    text-align: center;
    color:whitesmoke;
    font-size: 17px;
}
/* .flexContainer{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 70px 50px 30px 50px;
    color: whitesmoke;
    text-align: center;
    gap: 20px;
    justify-content: center;
    align-items: start;
} */
 .flexContainer{
    grid-template-columns: repeat(1, 1fr);
 }
.flexContainer p{
    font-size: 14px;
}
.flexContainer h3{
    color: #F97316;
}
.improve1{
    background-color: #151c2969;
    border-radius: 12px;
    padding: 12px;
    height: fit-content;
}
.improve2{
    background-color: #151c2969;
    border-radius: 12px;
    padding: 12px;

}
.improve3{
    background-color: #151c2969;
    border-radius: 12px;
    padding: 12px;

}
img{
    width: 200px;
    height: 140px;
    border-radius: 12px;
}
    footer{
        font-size: 15px;
    }
 }
@media  screen and (min-width:768px) {
    .navbar h1 a{
        font-size: 28px;
        display: flex;
        justify-content:left;
    }
    .navbar ul a{
        font-size: 19px;
    }
    #greeting{
        font-size: 29px;
    }
    #date{
        font-size: 16px;
        margin-top: 5px;
    }
    .addHabitBtn{
        width: 50%;
        padding:7px;
    }
    button{
        font-size: 18px;
    }
    .quoteContainer{
        font-size: 22px;
    }
    input{
        width: 30%;
    }
    #history{
        height: fit-content;
        width: 65%;
    }
    
    .desc{
    font-size: 19px;
    color: whitesmoke;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    }
.desc h5{
    text-align: center;
    font-weight: 100;
    margin-top: 18px;
    font-size: 17px;
}
.improve h3{
    text-align: center;
    color:whitesmoke;
    font-size: 20px;
}
/* .flexContainer{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 70px 50px 30px 50px;
    color: whitesmoke;
    text-align: center;
    gap: 20px;
    justify-content: center;
    align-items: start;
} */
.flexContainer p{
    font-size: 16px;
}
.flexContainer h3{
    color: #F97316;
}
.improve1{
    background-color: #151c2969;
    border-radius: 12px;
    padding: 12px;
    height: fit-content;
}
.improve2{
    background-color: #151c2969;
    border-radius: 12px;
    padding: 12px;
}
.improve3{
    background-color: #151c2969;
    border-radius: 12px;
    padding: 12px;

}
img{
    width: 350px;
    height: 170px;
    border-radius: 12px;
}
    footer{
        font-size: 21px;
    }
}
@media  screen and (min-width:1024px) {
    input{
        width: 18%;
    }
    .addHabitBtn{
        width: 25%;
        padding:7px;
    }
    .habitCard{
        width: fit-content;
        padding: 5px;
        font-size: 17px;
    }
    .flexContainer h3{
    color: #F97316;
    }
    .flexContainer{
        width: 50%;
        margin: 90px auto;
    }
    .habitCard button{
        font-size: 14px;
    }
    button{
        font-size: 15px;
    }
    footer{
        font-size: 16px;
    }
}